*.zip
*.tar
*.log
*.pdf
*.xls
*.xlsx
*.json
*.env
*.mdl

/.venv/*
/.vscode/*
.env
/.idea/*
/saved_models/*
/loaded_files/*
/unpacked_files/*
/db/*
__pycache__
/bshp_ml/app/catboost_info
bshp_ml/models
models
